body  {
  background: url(../img/background-pizza.jpg) no-repeat fixed center;
  background-size: cover;
}

.jumbotron  {
  margin: 15px;
  border: 2px solid black;
  padding; 15px;
  background-color: #af7154;
}

#byopizza  {
  margin: 15px;
  border: 2px solid black;
  padding; 25px;
  background-color: #f7f9d9;
}

.cart {
  margin: 25px;
  border: 2px solid black;
  padding; 15px;
  background-color: #af7154;
}
